* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    display: none;
    background: #333333;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    display: inline-block;
    padding: 1em;
}

nav a:hover {
    background: black;
}

#about {
    margin-left: auto;
}


